{% load static %}
{% load women_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {{ title }}</title>
    <link type="text/css" rel="stylesheet" href="{% static 'women/css/style.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'women/css/bootstrap.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'women/css/bootstrap-reboot.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'women/css/bootstrap-grid.min.css' %}">
    <script src="{% static 'women/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'women/js/bootstrap.bundle.min.js' %}"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-xl-12">
            {% show_main_menu %}
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xl-8">
            <div class="main__content" style="padding: 20px">
                {% block content %}
                {% endblock content %}
            </div>

        </div>
        <div class="col-xl-4">
            <div class="sidebar__right" style="padding: 20px">
                <h3>Категории</h3>
                <ul>
                    {% if category_selected == 0 %}
                        <li>Все категории</li>
                    {% else %}
                        <li><a href="{% url 'home' %}">Все категории</a></li>
                    {% endif %}
                    {% show_categories 'name' category_selected %}
                </ul>
            </div>

        </div>
    </div>
</div>

<footer>
    <p>CopyRight (c) 2022</p>
</footer>


</body>
</html>